{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "it": true,
    "describe": true,
    "expect": true
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": [2, { "css": "always", "json": "always", "svg": "always" }]
  }
}